.Body {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    text-align: center;
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    margin: 30px auto;
    font-size: large;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Scenario-Card {
    margin-bottom: 20px;
    width: 100%;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
